/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

header {
  background-color: grey;
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  background-position: center center;
  padding: 200px 0;
}

header h1 {
  text-align: center;
  color: white;
  font-size: 100px;
  font-weight: lighter;
  font-family: 'Montserrat';
}

.recipe-info{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.cooking-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h2 {
  padding: 0.5cm;
}

p {
  padding: 2cm;
  max-width: 20cm;
  margin: auto;
}

ul {
  padding-left: 1cm;
}


ol {
  padding-left: 1cm;
  padding-bottom: 1cm;
  list-style: none;
}


ul li {
  list-style-type: '- ';
}

ol > li {
  counter-increment: listcounter;
}

ol > li::before {
  content: counter(listcounter) ")";
}